*{
    margin: 0px;
    padding: 0px;
}


.ContPract{
    background-color: gainsboro;
    display: flex;
    flex-flow: row nowrap;
   
}

.ContPract__item{
    display: flex;

    width: 200px;
    height: 200px;
    margin: 6px;
    background-color: blue;
}



.ContPractGrid{
margin: auto;
    display: grid;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 800px;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
    gap: 6px;
}


.grid__item{
    background-color: rgb(209, 209, 209);
}

.grid__item--1{
    background-color: rgb(212, 230, 75);
    grid-row: 3/14;
    grid-column: 3/14;
}

.grid__item--2{
    background-color: rgb(236, 94, 94);
    grid-row: 5/17;
    grid-column: 6/16;
    z-index: 4;
}



