*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page{
      display: grid;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.852), rgba(0, 0, 0, 0.668)),
    url(../assets/colapinto-imola.jpeg);
    background-size: cover;
    background-position: center;
  background-attachment: fixed;
    min-height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 5px 8fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.page__header{
    background-color: rgba(49, 49, 49, 0.129);
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 10fr 4fr;
    grid-template-areas: "logo nav contactos";
    z-index: 10;
}

.header__logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
}

.header__logo img{
    width: 90px;
}

.header__nav{
    grid-area: nav;
}

.nav__list{
 height: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.nav__list a{
    font-size: 1.2rem;
    color: aliceblue;
}

.header__contactos {
 grid-area: contactos;
 gap: 20%;
display: flex;
justify-content: center;
align-items: center;
}

.header__contactos a  {
text-decoration: none;
}
.header__contactos img {

  width: 24px;    
  height: 24px;

}


.main__section {  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.section__article h2{
    color: rgba(41, 41, 239, 0.813);
    font-size: 7rem;
}
.section__article h3{
    color: rgb(243, 77, 188);
    font-size: 3rem;
}


.page__footer{
    
   grid-area: footer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer__text {
    color: rgba(240, 248, 255, 0.672);
}


.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;

 
}

.contenedor__card {
  flex: 1 1 250px;
  max-width: 280px;
  background-color: rgba(17, 17, 17, 0.684);
  border-radius: 10px;
  overflow: hidden;

  text-align: center;
}

.card__img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card__descarga {
  color: rgba(255, 214, 246, 0.786);
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
 
}





.article--1 {
  max-width: 900px;
  background: rgba(64, 64, 64, 0.427);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.20);
  padding: 28px;
}


.article--1 p {
color: rgba(239, 241, 243, 0.945);
font-size: 1.2rem;
}



.article {
  margin-top: 90px;
  max-width: 90px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 30px;
  padding: 30px;
  max-width: 900px;
 
}

.circuito {
  display: grid;
  grid-template-columns: repeat(2, auto);  
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
}

.circuito__img {
    width: 300px;
    height: 200px;

  border-radius: 8px;
  overflow: hidden;
}

.circuito__texto {
  color: white;
  font-size: 1.1rem;
}
