*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page{
      display: grid;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.852), rgba(0, 0, 0, 0.668)),
    url(../assets/colapinto-imola.jpeg);
    background-size: cover;
    background-position: center;
  background-attachment: fixed;
    min-height: 100vh;
    grid-template-columns:1fr;
    grid-template-rows: 5px 8fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.page__header{
    background-color: rgba(49, 49, 49, 0.129);
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 10fr 4fr;
    grid-template-areas: "logo nav contactos";
    z-index: 10;
}

.header__logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
}

.header__logo img{
    width: 90px;
}

.header__nav{
    grid-area: nav;
}

.nav__list{
 height: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.nav__list a{
    font-size: 1.2rem;
    color: aliceblue;
}

.header__contactos {
 grid-area: contactos;
 gap: 20%;
display: flex;
justify-content: center;
align-items: center;
}

.header__contactos a  {
text-decoration: none;
}
.header__contactos img {

  width: 24px;    
  height: 24px;

}


.main__section {  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.section__article h2{
    color: rgba(41, 41, 239, 0.813);
    font-size: 7rem;
}
.section__article h3{
    color: rgb(243, 77, 188);
    font-size: 3rem;
}


.page__footer{
    
   grid-area: footer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer__text {
    color: rgba(240, 248, 255, 0.672);
}







